<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mudule.mumzonemarketcal.component.mapper.order.OrderGoodsPurchasePayMapper" >
  <resultMap id="BaseResultMap" type="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchasePay" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="payment_shop_id" property="paymentShopId" jdbcType="VARCHAR" />
    <result column="receive_shop_id" property="receiveShopId" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="pay_type" property="payType" jdbcType="TINYINT" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="ret_flow_id" property="retFlowId" jdbcType="VARCHAR" />
    <result column="return_code" property="returnCode" jdbcType="VARCHAR" />
    <result column="time_end" property="timeEnd" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="sys_pay_cnl" property="sysPayCnl" jdbcType="INTEGER" />
    <result column="biz_order_no" property="bizOrderNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_code, payment_shop_id, receive_shop_id, money, pay_type, shop_id, ret_flow_id, 
    return_code, time_end, create_time, sys_pay_cnl, biz_order_no
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchasePayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_goods_purchase_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_goods_purchase_pay
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_goods_purchase_pay
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchasePayExample" >
    delete from order_goods_purchase_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchasePay" >
    insert into order_goods_purchase_pay (id, order_code, payment_shop_id, 
      receive_shop_id, money, pay_type, 
      shop_id, ret_flow_id, return_code, 
      time_end, create_time, sys_pay_cnl, 
      biz_order_no)
    values (#{id,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR}, #{paymentShopId,jdbcType=VARCHAR}, 
      #{receiveShopId,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{payType,jdbcType=TINYINT}, 
      #{shopId,jdbcType=VARCHAR}, #{retFlowId,jdbcType=VARCHAR}, #{returnCode,jdbcType=VARCHAR}, 
      #{timeEnd,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{sysPayCnl,jdbcType=INTEGER}, 
      #{bizOrderNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchasePay" >
    insert into order_goods_purchase_pay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="paymentShopId != null" >
        payment_shop_id,
      </if>
      <if test="receiveShopId != null" >
        receive_shop_id,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="retFlowId != null" >
        ret_flow_id,
      </if>
      <if test="returnCode != null" >
        return_code,
      </if>
      <if test="timeEnd != null" >
        time_end,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="sysPayCnl != null" >
        sys_pay_cnl,
      </if>
      <if test="bizOrderNo != null" >
        biz_order_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="paymentShopId != null" >
        #{paymentShopId,jdbcType=VARCHAR},
      </if>
      <if test="receiveShopId != null" >
        #{receiveShopId,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="retFlowId != null" >
        #{retFlowId,jdbcType=VARCHAR},
      </if>
      <if test="returnCode != null" >
        #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null" >
        #{timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysPayCnl != null" >
        #{sysPayCnl,jdbcType=INTEGER},
      </if>
      <if test="bizOrderNo != null" >
        #{bizOrderNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchasePayExample" resultType="java.lang.Integer" >
    select count(*) from order_goods_purchase_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_goods_purchase_pay
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orderCode != null" >
        order_code = #{record.orderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentShopId != null" >
        payment_shop_id = #{record.paymentShopId,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveShopId != null" >
        receive_shop_id = #{record.receiveShopId,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.payType != null" >
        pay_type = #{record.payType,jdbcType=TINYINT},
      </if>
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=VARCHAR},
      </if>
      <if test="record.retFlowId != null" >
        ret_flow_id = #{record.retFlowId,jdbcType=VARCHAR},
      </if>
      <if test="record.returnCode != null" >
        return_code = #{record.returnCode,jdbcType=VARCHAR},
      </if>
      <if test="record.timeEnd != null" >
        time_end = #{record.timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sysPayCnl != null" >
        sys_pay_cnl = #{record.sysPayCnl,jdbcType=INTEGER},
      </if>
      <if test="record.bizOrderNo != null" >
        biz_order_no = #{record.bizOrderNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_goods_purchase_pay
    set id = #{record.id,jdbcType=VARCHAR},
      order_code = #{record.orderCode,jdbcType=VARCHAR},
      payment_shop_id = #{record.paymentShopId,jdbcType=VARCHAR},
      receive_shop_id = #{record.receiveShopId,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=DECIMAL},
      pay_type = #{record.payType,jdbcType=TINYINT},
      shop_id = #{record.shopId,jdbcType=VARCHAR},
      ret_flow_id = #{record.retFlowId,jdbcType=VARCHAR},
      return_code = #{record.returnCode,jdbcType=VARCHAR},
      time_end = #{record.timeEnd,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      sys_pay_cnl = #{record.sysPayCnl,jdbcType=INTEGER},
      biz_order_no = #{record.bizOrderNo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchasePay" >
    update order_goods_purchase_pay
    <set >
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="paymentShopId != null" >
        payment_shop_id = #{paymentShopId,jdbcType=VARCHAR},
      </if>
      <if test="receiveShopId != null" >
        receive_shop_id = #{receiveShopId,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=TINYINT},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="retFlowId != null" >
        ret_flow_id = #{retFlowId,jdbcType=VARCHAR},
      </if>
      <if test="returnCode != null" >
        return_code = #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null" >
        time_end = #{timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysPayCnl != null" >
        sys_pay_cnl = #{sysPayCnl,jdbcType=INTEGER},
      </if>
      <if test="bizOrderNo != null" >
        biz_order_no = #{bizOrderNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchasePay" >
    update order_goods_purchase_pay
    set order_code = #{orderCode,jdbcType=VARCHAR},
      payment_shop_id = #{paymentShopId,jdbcType=VARCHAR},
      receive_shop_id = #{receiveShopId,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      pay_type = #{payType,jdbcType=TINYINT},
      shop_id = #{shopId,jdbcType=VARCHAR},
      ret_flow_id = #{retFlowId,jdbcType=VARCHAR},
      return_code = #{returnCode,jdbcType=VARCHAR},
      time_end = #{timeEnd,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      sys_pay_cnl = #{sysPayCnl,jdbcType=INTEGER},
      biz_order_no = #{bizOrderNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>