<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mudule.mumzonemarketcal.component.mapper.order.OrderGoodsPurchaseReturnMapper" >
  <resultMap id="BaseResultMap" type="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchaseReturn" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="purchase_id" property="purchaseId" jdbcType="VARCHAR" />
    <result column="purchasein_code" property="purchaseinCode" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
    <result column="return_date" property="returnDate" jdbcType="DATE" />
    <result column="order_date" property="orderDate" jdbcType="DATE" />
    <result column="purchase_status" property="purchaseStatus" jdbcType="TINYINT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="return_num" property="returnNum" jdbcType="INTEGER" />
    <result column="return_amount" property="returnAmount" jdbcType="DECIMAL" />
    <result column="discount_rate" property="discountRate" jdbcType="DECIMAL" />
    <result column="discount_amount" property="discountAmount" jdbcType="DECIMAL" />
    <result column="freight" property="freight" jdbcType="DECIMAL" />
    <result column="tax_amount" property="taxAmount" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
    <result column="purchase_type" property="purchaseType" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="return_status" property="returnStatus" jdbcType="TINYINT" />
    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
    <result column="warehouse_id" property="warehouseId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, purchase_id, purchasein_code, shop_id, supplier_id, return_date, order_date, 
    purchase_status, creator, return_num, return_amount, discount_rate, discount_amount, 
    freight, tax_amount, amount, pay_amount, purchase_type, remark, create_time, update_time, 
    shop_name, supplier_name, return_status, warehouse_name, warehouse_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchaseReturnExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_goods_purchase_return
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_goods_purchase_return
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_goods_purchase_return
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchaseReturnExample" >
    delete from order_goods_purchase_return
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchaseReturn" >
    insert into order_goods_purchase_return (id, purchase_id, purchasein_code, 
      shop_id, supplier_id, return_date, 
      order_date, purchase_status, creator, 
      return_num, return_amount, discount_rate, 
      discount_amount, freight, tax_amount, 
      amount, pay_amount, purchase_type, 
      remark, create_time, update_time, 
      shop_name, supplier_name, return_status, 
      warehouse_name, warehouse_id)
    values (#{id,jdbcType=VARCHAR}, #{purchaseId,jdbcType=VARCHAR}, #{purchaseinCode,jdbcType=VARCHAR}, 
      #{shopId,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR}, #{returnDate,jdbcType=DATE}, 
      #{orderDate,jdbcType=DATE}, #{purchaseStatus,jdbcType=TINYINT}, #{creator,jdbcType=VARCHAR}, 
      #{returnNum,jdbcType=INTEGER}, #{returnAmount,jdbcType=DECIMAL}, #{discountRate,jdbcType=DECIMAL}, 
      #{discountAmount,jdbcType=DECIMAL}, #{freight,jdbcType=DECIMAL}, #{taxAmount,jdbcType=DECIMAL}, 
      #{amount,jdbcType=DECIMAL}, #{payAmount,jdbcType=DECIMAL}, #{purchaseType,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{shopName,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, #{returnStatus,jdbcType=TINYINT}, 
      #{warehouseName,jdbcType=VARCHAR}, #{warehouseId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchaseReturn" >
    insert into order_goods_purchase_return
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="purchaseId != null" >
        purchase_id,
      </if>
      <if test="purchaseinCode != null" >
        purchasein_code,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="returnDate != null" >
        return_date,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="purchaseStatus != null" >
        purchase_status,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="returnNum != null" >
        return_num,
      </if>
      <if test="returnAmount != null" >
        return_amount,
      </if>
      <if test="discountRate != null" >
        discount_rate,
      </if>
      <if test="discountAmount != null" >
        discount_amount,
      </if>
      <if test="freight != null" >
        freight,
      </if>
      <if test="taxAmount != null" >
        tax_amount,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="payAmount != null" >
        pay_amount,
      </if>
      <if test="purchaseType != null" >
        purchase_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="returnStatus != null" >
        return_status,
      </if>
      <if test="warehouseName != null" >
        warehouse_name,
      </if>
      <if test="warehouseId != null" >
        warehouse_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="purchaseId != null" >
        #{purchaseId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseinCode != null" >
        #{purchaseinCode,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="returnDate != null" >
        #{returnDate,jdbcType=DATE},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=DATE},
      </if>
      <if test="purchaseStatus != null" >
        #{purchaseStatus,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="returnNum != null" >
        #{returnNum,jdbcType=INTEGER},
      </if>
      <if test="returnAmount != null" >
        #{returnAmount,jdbcType=DECIMAL},
      </if>
      <if test="discountRate != null" >
        #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="discountAmount != null" >
        #{discountAmount,jdbcType=DECIMAL},
      </if>
      <if test="freight != null" >
        #{freight,jdbcType=DECIMAL},
      </if>
      <if test="taxAmount != null" >
        #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="purchaseType != null" >
        #{purchaseType,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="returnStatus != null" >
        #{returnStatus,jdbcType=TINYINT},
      </if>
      <if test="warehouseName != null" >
        #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchaseReturnExample" resultType="java.lang.Integer" >
    select count(*) from order_goods_purchase_return
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_goods_purchase_return
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseId != null" >
        purchase_id = #{record.purchaseId,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseinCode != null" >
        purchasein_code = #{record.purchaseinCode,jdbcType=VARCHAR},
      </if>
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null" >
        supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.returnDate != null" >
        return_date = #{record.returnDate,jdbcType=DATE},
      </if>
      <if test="record.orderDate != null" >
        order_date = #{record.orderDate,jdbcType=DATE},
      </if>
      <if test="record.purchaseStatus != null" >
        purchase_status = #{record.purchaseStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.returnNum != null" >
        return_num = #{record.returnNum,jdbcType=INTEGER},
      </if>
      <if test="record.returnAmount != null" >
        return_amount = #{record.returnAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.discountRate != null" >
        discount_rate = #{record.discountRate,jdbcType=DECIMAL},
      </if>
      <if test="record.discountAmount != null" >
        discount_amount = #{record.discountAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.freight != null" >
        freight = #{record.freight,jdbcType=DECIMAL},
      </if>
      <if test="record.taxAmount != null" >
        tax_amount = #{record.taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.payAmount != null" >
        pay_amount = #{record.payAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.purchaseType != null" >
        purchase_type = #{record.purchaseType,jdbcType=TINYINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shopName != null" >
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierName != null" >
        supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      </if>
      <if test="record.returnStatus != null" >
        return_status = #{record.returnStatus,jdbcType=TINYINT},
      </if>
      <if test="record.warehouseName != null" >
        warehouse_name = #{record.warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouseId != null" >
        warehouse_id = #{record.warehouseId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_goods_purchase_return
    set id = #{record.id,jdbcType=VARCHAR},
      purchase_id = #{record.purchaseId,jdbcType=VARCHAR},
      purchasein_code = #{record.purchaseinCode,jdbcType=VARCHAR},
      shop_id = #{record.shopId,jdbcType=VARCHAR},
      supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      return_date = #{record.returnDate,jdbcType=DATE},
      order_date = #{record.orderDate,jdbcType=DATE},
      purchase_status = #{record.purchaseStatus,jdbcType=TINYINT},
      creator = #{record.creator,jdbcType=VARCHAR},
      return_num = #{record.returnNum,jdbcType=INTEGER},
      return_amount = #{record.returnAmount,jdbcType=DECIMAL},
      discount_rate = #{record.discountRate,jdbcType=DECIMAL},
      discount_amount = #{record.discountAmount,jdbcType=DECIMAL},
      freight = #{record.freight,jdbcType=DECIMAL},
      tax_amount = #{record.taxAmount,jdbcType=DECIMAL},
      amount = #{record.amount,jdbcType=DECIMAL},
      pay_amount = #{record.payAmount,jdbcType=DECIMAL},
      purchase_type = #{record.purchaseType,jdbcType=TINYINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      return_status = #{record.returnStatus,jdbcType=TINYINT},
      warehouse_name = #{record.warehouseName,jdbcType=VARCHAR},
      warehouse_id = #{record.warehouseId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchaseReturn" >
    update order_goods_purchase_return
    <set >
      <if test="purchaseId != null" >
        purchase_id = #{purchaseId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseinCode != null" >
        purchasein_code = #{purchaseinCode,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="returnDate != null" >
        return_date = #{returnDate,jdbcType=DATE},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=DATE},
      </if>
      <if test="purchaseStatus != null" >
        purchase_status = #{purchaseStatus,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="returnNum != null" >
        return_num = #{returnNum,jdbcType=INTEGER},
      </if>
      <if test="returnAmount != null" >
        return_amount = #{returnAmount,jdbcType=DECIMAL},
      </if>
      <if test="discountRate != null" >
        discount_rate = #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="discountAmount != null" >
        discount_amount = #{discountAmount,jdbcType=DECIMAL},
      </if>
      <if test="freight != null" >
        freight = #{freight,jdbcType=DECIMAL},
      </if>
      <if test="taxAmount != null" >
        tax_amount = #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null" >
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="purchaseType != null" >
        purchase_type = #{purchaseType,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="returnStatus != null" >
        return_status = #{returnStatus,jdbcType=TINYINT},
      </if>
      <if test="warehouseName != null" >
        warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null" >
        warehouse_id = #{warehouseId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchaseReturn" >
    update order_goods_purchase_return
    set purchase_id = #{purchaseId,jdbcType=VARCHAR},
      purchasein_code = #{purchaseinCode,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=VARCHAR},
      return_date = #{returnDate,jdbcType=DATE},
      order_date = #{orderDate,jdbcType=DATE},
      purchase_status = #{purchaseStatus,jdbcType=TINYINT},
      creator = #{creator,jdbcType=VARCHAR},
      return_num = #{returnNum,jdbcType=INTEGER},
      return_amount = #{returnAmount,jdbcType=DECIMAL},
      discount_rate = #{discountRate,jdbcType=DECIMAL},
      discount_amount = #{discountAmount,jdbcType=DECIMAL},
      freight = #{freight,jdbcType=DECIMAL},
      tax_amount = #{taxAmount,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      purchase_type = #{purchaseType,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      shop_name = #{shopName,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      return_status = #{returnStatus,jdbcType=TINYINT},
      warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      warehouse_id = #{warehouseId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>