<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mudule.mumzonemarketcal.component.mapper.order.OrderGoodsPurchaseMapper" >
  <resultMap id="BaseResultMap" type="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchase" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="purchase_code" property="purchaseCode" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
    <result column="receive_date" property="receiveDate" jdbcType="DATE" />
    <result column="order_date" property="orderDate" jdbcType="DATE" />
    <result column="consignee" property="consignee" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="purchase_status" property="purchaseStatus" jdbcType="TINYINT" />
    <result column="received_status" property="receivedStatus" jdbcType="TINYINT" />
    <result column="pay_status" property="payStatus" jdbcType="TINYINT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="purchase_num" property="purchaseNum" jdbcType="INTEGER" />
    <result column="arrive_num" property="arriveNum" jdbcType="INTEGER" />
    <result column="purchase_amount" property="purchaseAmount" jdbcType="DECIMAL" />
    <result column="freight" property="freight" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
    <result column="purchase_type" property="purchaseType" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="TINYINT" />
    <result column="confirm_purchase_amount" property="confirmPurchaseAmount" jdbcType="DECIMAL" />
    <result column="confirm_freight" property="confirmFreight" jdbcType="DECIMAL" />
    <result column="confirm_amount" property="confirmAmount" jdbcType="DECIMAL" />
    <result column="refund_apply_status" property="refundApplyStatus" jdbcType="TINYINT" />
    <result column="on_Pay" property="onPay" jdbcType="DECIMAL" />
    <result column="status_flow" property="statusFlow" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, purchase_code, shop_id, supplier_id, receive_date, order_date, consignee, linkman, 
    address, purchase_status, received_status, pay_status, creator, purchase_num, arrive_num, 
    purchase_amount, freight, amount, pay_amount, purchase_type, remark, create_time, 
    update_time, shop_name, supplier_name, audit_status, confirm_purchase_amount, confirm_freight, 
    confirm_amount, refund_apply_status, on_Pay, status_flow
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_goods_purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_goods_purchase
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_goods_purchase
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchaseExample" >
    delete from order_goods_purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchase" >
    insert into order_goods_purchase (id, purchase_code, shop_id, 
      supplier_id, receive_date, order_date, 
      consignee, linkman, address, 
      purchase_status, received_status, pay_status, 
      creator, purchase_num, arrive_num, 
      purchase_amount, freight, amount, 
      pay_amount, purchase_type, remark, 
      create_time, update_time, shop_name, 
      supplier_name, audit_status, confirm_purchase_amount, 
      confirm_freight, confirm_amount, refund_apply_status, 
      on_Pay, status_flow)
    values (#{id,jdbcType=VARCHAR}, #{purchaseCode,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, 
      #{supplierId,jdbcType=VARCHAR}, #{receiveDate,jdbcType=DATE}, #{orderDate,jdbcType=DATE}, 
      #{consignee,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{purchaseStatus,jdbcType=TINYINT}, #{receivedStatus,jdbcType=TINYINT}, #{payStatus,jdbcType=TINYINT}, 
      #{creator,jdbcType=VARCHAR}, #{purchaseNum,jdbcType=INTEGER}, #{arriveNum,jdbcType=INTEGER}, 
      #{purchaseAmount,jdbcType=DECIMAL}, #{freight,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{payAmount,jdbcType=DECIMAL}, #{purchaseType,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{shopName,jdbcType=VARCHAR}, 
      #{supplierName,jdbcType=VARCHAR}, #{auditStatus,jdbcType=TINYINT}, #{confirmPurchaseAmount,jdbcType=DECIMAL}, 
      #{confirmFreight,jdbcType=DECIMAL}, #{confirmAmount,jdbcType=DECIMAL}, #{refundApplyStatus,jdbcType=TINYINT}, 
      #{onPay,jdbcType=DECIMAL}, #{statusFlow,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchase" >
    insert into order_goods_purchase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="purchaseCode != null" >
        purchase_code,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="receiveDate != null" >
        receive_date,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="consignee != null" >
        consignee,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="purchaseStatus != null" >
        purchase_status,
      </if>
      <if test="receivedStatus != null" >
        received_status,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="purchaseNum != null" >
        purchase_num,
      </if>
      <if test="arriveNum != null" >
        arrive_num,
      </if>
      <if test="purchaseAmount != null" >
        purchase_amount,
      </if>
      <if test="freight != null" >
        freight,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="payAmount != null" >
        pay_amount,
      </if>
      <if test="purchaseType != null" >
        purchase_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="confirmPurchaseAmount != null" >
        confirm_purchase_amount,
      </if>
      <if test="confirmFreight != null" >
        confirm_freight,
      </if>
      <if test="confirmAmount != null" >
        confirm_amount,
      </if>
      <if test="refundApplyStatus != null" >
        refund_apply_status,
      </if>
      <if test="onPay != null" >
        on_Pay,
      </if>
      <if test="statusFlow != null" >
        status_flow,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="purchaseCode != null" >
        #{purchaseCode,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="receiveDate != null" >
        #{receiveDate,jdbcType=DATE},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=DATE},
      </if>
      <if test="consignee != null" >
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="purchaseStatus != null" >
        #{purchaseStatus,jdbcType=TINYINT},
      </if>
      <if test="receivedStatus != null" >
        #{receivedStatus,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="purchaseNum != null" >
        #{purchaseNum,jdbcType=INTEGER},
      </if>
      <if test="arriveNum != null" >
        #{arriveNum,jdbcType=INTEGER},
      </if>
      <if test="purchaseAmount != null" >
        #{purchaseAmount,jdbcType=DECIMAL},
      </if>
      <if test="freight != null" >
        #{freight,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="purchaseType != null" >
        #{purchaseType,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="confirmPurchaseAmount != null" >
        #{confirmPurchaseAmount,jdbcType=DECIMAL},
      </if>
      <if test="confirmFreight != null" >
        #{confirmFreight,jdbcType=DECIMAL},
      </if>
      <if test="confirmAmount != null" >
        #{confirmAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundApplyStatus != null" >
        #{refundApplyStatus,jdbcType=TINYINT},
      </if>
      <if test="onPay != null" >
        #{onPay,jdbcType=DECIMAL},
      </if>
      <if test="statusFlow != null" >
        #{statusFlow,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchaseExample" resultType="java.lang.Integer" >
    select count(*) from order_goods_purchase
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_goods_purchase
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseCode != null" >
        purchase_code = #{record.purchaseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null" >
        supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveDate != null" >
        receive_date = #{record.receiveDate,jdbcType=DATE},
      </if>
      <if test="record.orderDate != null" >
        order_date = #{record.orderDate,jdbcType=DATE},
      </if>
      <if test="record.consignee != null" >
        consignee = #{record.consignee,jdbcType=VARCHAR},
      </if>
      <if test="record.linkman != null" >
        linkman = #{record.linkman,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseStatus != null" >
        purchase_status = #{record.purchaseStatus,jdbcType=TINYINT},
      </if>
      <if test="record.receivedStatus != null" >
        received_status = #{record.receivedStatus,jdbcType=TINYINT},
      </if>
      <if test="record.payStatus != null" >
        pay_status = #{record.payStatus,jdbcType=TINYINT},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseNum != null" >
        purchase_num = #{record.purchaseNum,jdbcType=INTEGER},
      </if>
      <if test="record.arriveNum != null" >
        arrive_num = #{record.arriveNum,jdbcType=INTEGER},
      </if>
      <if test="record.purchaseAmount != null" >
        purchase_amount = #{record.purchaseAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.freight != null" >
        freight = #{record.freight,jdbcType=DECIMAL},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.payAmount != null" >
        pay_amount = #{record.payAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.purchaseType != null" >
        purchase_type = #{record.purchaseType,jdbcType=TINYINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shopName != null" >
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierName != null" >
        supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatus != null" >
        audit_status = #{record.auditStatus,jdbcType=TINYINT},
      </if>
      <if test="record.confirmPurchaseAmount != null" >
        confirm_purchase_amount = #{record.confirmPurchaseAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.confirmFreight != null" >
        confirm_freight = #{record.confirmFreight,jdbcType=DECIMAL},
      </if>
      <if test="record.confirmAmount != null" >
        confirm_amount = #{record.confirmAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.refundApplyStatus != null" >
        refund_apply_status = #{record.refundApplyStatus,jdbcType=TINYINT},
      </if>
      <if test="record.onPay != null" >
        on_Pay = #{record.onPay,jdbcType=DECIMAL},
      </if>
      <if test="record.statusFlow != null" >
        status_flow = #{record.statusFlow,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_goods_purchase
    set id = #{record.id,jdbcType=VARCHAR},
      purchase_code = #{record.purchaseCode,jdbcType=VARCHAR},
      shop_id = #{record.shopId,jdbcType=VARCHAR},
      supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      receive_date = #{record.receiveDate,jdbcType=DATE},
      order_date = #{record.orderDate,jdbcType=DATE},
      consignee = #{record.consignee,jdbcType=VARCHAR},
      linkman = #{record.linkman,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      purchase_status = #{record.purchaseStatus,jdbcType=TINYINT},
      received_status = #{record.receivedStatus,jdbcType=TINYINT},
      pay_status = #{record.payStatus,jdbcType=TINYINT},
      creator = #{record.creator,jdbcType=VARCHAR},
      purchase_num = #{record.purchaseNum,jdbcType=INTEGER},
      arrive_num = #{record.arriveNum,jdbcType=INTEGER},
      purchase_amount = #{record.purchaseAmount,jdbcType=DECIMAL},
      freight = #{record.freight,jdbcType=DECIMAL},
      amount = #{record.amount,jdbcType=DECIMAL},
      pay_amount = #{record.payAmount,jdbcType=DECIMAL},
      purchase_type = #{record.purchaseType,jdbcType=TINYINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      audit_status = #{record.auditStatus,jdbcType=TINYINT},
      confirm_purchase_amount = #{record.confirmPurchaseAmount,jdbcType=DECIMAL},
      confirm_freight = #{record.confirmFreight,jdbcType=DECIMAL},
      confirm_amount = #{record.confirmAmount,jdbcType=DECIMAL},
      refund_apply_status = #{record.refundApplyStatus,jdbcType=TINYINT},
      on_Pay = #{record.onPay,jdbcType=DECIMAL},
      status_flow = #{record.statusFlow,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchase" >
    update order_goods_purchase
    <set >
      <if test="purchaseCode != null" >
        purchase_code = #{purchaseCode,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="receiveDate != null" >
        receive_date = #{receiveDate,jdbcType=DATE},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=DATE},
      </if>
      <if test="consignee != null" >
        consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="purchaseStatus != null" >
        purchase_status = #{purchaseStatus,jdbcType=TINYINT},
      </if>
      <if test="receivedStatus != null" >
        received_status = #{receivedStatus,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="purchaseNum != null" >
        purchase_num = #{purchaseNum,jdbcType=INTEGER},
      </if>
      <if test="arriveNum != null" >
        arrive_num = #{arriveNum,jdbcType=INTEGER},
      </if>
      <if test="purchaseAmount != null" >
        purchase_amount = #{purchaseAmount,jdbcType=DECIMAL},
      </if>
      <if test="freight != null" >
        freight = #{freight,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null" >
        pay_amount = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="purchaseType != null" >
        purchase_type = #{purchaseType,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="confirmPurchaseAmount != null" >
        confirm_purchase_amount = #{confirmPurchaseAmount,jdbcType=DECIMAL},
      </if>
      <if test="confirmFreight != null" >
        confirm_freight = #{confirmFreight,jdbcType=DECIMAL},
      </if>
      <if test="confirmAmount != null" >
        confirm_amount = #{confirmAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundApplyStatus != null" >
        refund_apply_status = #{refundApplyStatus,jdbcType=TINYINT},
      </if>
      <if test="onPay != null" >
        on_Pay = #{onPay,jdbcType=DECIMAL},
      </if>
      <if test="statusFlow != null" >
        status_flow = #{statusFlow,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mudule.mumzonemarketcal.component.po.order.OrderGoodsPurchase" >
    update order_goods_purchase
    set purchase_code = #{purchaseCode,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=VARCHAR},
      receive_date = #{receiveDate,jdbcType=DATE},
      order_date = #{orderDate,jdbcType=DATE},
      consignee = #{consignee,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      purchase_status = #{purchaseStatus,jdbcType=TINYINT},
      received_status = #{receivedStatus,jdbcType=TINYINT},
      pay_status = #{payStatus,jdbcType=TINYINT},
      creator = #{creator,jdbcType=VARCHAR},
      purchase_num = #{purchaseNum,jdbcType=INTEGER},
      arrive_num = #{arriveNum,jdbcType=INTEGER},
      purchase_amount = #{purchaseAmount,jdbcType=DECIMAL},
      freight = #{freight,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      pay_amount = #{payAmount,jdbcType=DECIMAL},
      purchase_type = #{purchaseType,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      shop_name = #{shopName,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=TINYINT},
      confirm_purchase_amount = #{confirmPurchaseAmount,jdbcType=DECIMAL},
      confirm_freight = #{confirmFreight,jdbcType=DECIMAL},
      confirm_amount = #{confirmAmount,jdbcType=DECIMAL},
      refund_apply_status = #{refundApplyStatus,jdbcType=TINYINT},
      on_Pay = #{onPay,jdbcType=DECIMAL},
      status_flow = #{statusFlow,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>