<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mudule.mumzonemarketcal.component.mapper.base.ConfigBaseMerchantMenuMapper" >
  <resultMap id="BaseResultMap" type="com.mudule.mumzonemarketcal.component.po.base.ConfigBaseMerchantMenu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="is_leafnode" property="isLeafnode" jdbcType="TINYINT" />
    <result column="hierarchy" property="hierarchy" jdbcType="TINYINT" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="sort_num" property="sortNum" jdbcType="INTEGER" />
    <result column="access_source" property="accessSource" jdbcType="TINYINT" />
    <result column="is_show" property="isShow" jdbcType="TINYINT" />
    <result column="dr" property="dr" jdbcType="TINYINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pid, title, is_leafnode, hierarchy, menu_url, sort_num, access_source, is_show, 
    dr, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mudule.mumzonemarketcal.component.po.base.ConfigBaseMerchantMenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from config_base_merchant_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from config_base_merchant_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from config_base_merchant_menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mudule.mumzonemarketcal.component.po.base.ConfigBaseMerchantMenuExample" >
    delete from config_base_merchant_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mudule.mumzonemarketcal.component.po.base.ConfigBaseMerchantMenu" >
    insert into config_base_merchant_menu (id, pid, title, 
      is_leafnode, hierarchy, menu_url, 
      sort_num, access_source, is_show, 
      dr, update_time)
    values (#{id,jdbcType=BIGINT}, #{pid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{isLeafnode,jdbcType=TINYINT}, #{hierarchy,jdbcType=TINYINT}, #{menuUrl,jdbcType=VARCHAR}, 
      #{sortNum,jdbcType=INTEGER}, #{accessSource,jdbcType=TINYINT}, #{isShow,jdbcType=TINYINT}, 
      #{dr,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mudule.mumzonemarketcal.component.po.base.ConfigBaseMerchantMenu" >
    insert into config_base_merchant_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="isLeafnode != null" >
        is_leafnode,
      </if>
      <if test="hierarchy != null" >
        hierarchy,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="sortNum != null" >
        sort_num,
      </if>
      <if test="accessSource != null" >
        access_source,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="dr != null" >
        dr,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="isLeafnode != null" >
        #{isLeafnode,jdbcType=TINYINT},
      </if>
      <if test="hierarchy != null" >
        #{hierarchy,jdbcType=TINYINT},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="sortNum != null" >
        #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="accessSource != null" >
        #{accessSource,jdbcType=TINYINT},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=TINYINT},
      </if>
      <if test="dr != null" >
        #{dr,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mudule.mumzonemarketcal.component.po.base.ConfigBaseMerchantMenuExample" resultType="java.lang.Integer" >
    select count(*) from config_base_merchant_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update config_base_merchant_menu
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.isLeafnode != null" >
        is_leafnode = #{record.isLeafnode,jdbcType=TINYINT},
      </if>
      <if test="record.hierarchy != null" >
        hierarchy = #{record.hierarchy,jdbcType=TINYINT},
      </if>
      <if test="record.menuUrl != null" >
        menu_url = #{record.menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.sortNum != null" >
        sort_num = #{record.sortNum,jdbcType=INTEGER},
      </if>
      <if test="record.accessSource != null" >
        access_source = #{record.accessSource,jdbcType=TINYINT},
      </if>
      <if test="record.isShow != null" >
        is_show = #{record.isShow,jdbcType=TINYINT},
      </if>
      <if test="record.dr != null" >
        dr = #{record.dr,jdbcType=TINYINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update config_base_merchant_menu
    set id = #{record.id,jdbcType=BIGINT},
      pid = #{record.pid,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      is_leafnode = #{record.isLeafnode,jdbcType=TINYINT},
      hierarchy = #{record.hierarchy,jdbcType=TINYINT},
      menu_url = #{record.menuUrl,jdbcType=VARCHAR},
      sort_num = #{record.sortNum,jdbcType=INTEGER},
      access_source = #{record.accessSource,jdbcType=TINYINT},
      is_show = #{record.isShow,jdbcType=TINYINT},
      dr = #{record.dr,jdbcType=TINYINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mudule.mumzonemarketcal.component.po.base.ConfigBaseMerchantMenu" >
    update config_base_merchant_menu
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="isLeafnode != null" >
        is_leafnode = #{isLeafnode,jdbcType=TINYINT},
      </if>
      <if test="hierarchy != null" >
        hierarchy = #{hierarchy,jdbcType=TINYINT},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="sortNum != null" >
        sort_num = #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="accessSource != null" >
        access_source = #{accessSource,jdbcType=TINYINT},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=TINYINT},
      </if>
      <if test="dr != null" >
        dr = #{dr,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mudule.mumzonemarketcal.component.po.base.ConfigBaseMerchantMenu" >
    update config_base_merchant_menu
    set pid = #{pid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      is_leafnode = #{isLeafnode,jdbcType=TINYINT},
      hierarchy = #{hierarchy,jdbcType=TINYINT},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      sort_num = #{sortNum,jdbcType=INTEGER},
      access_source = #{accessSource,jdbcType=TINYINT},
      is_show = #{isShow,jdbcType=TINYINT},
      dr = #{dr,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>